- provide(:title, 'About Us')
%h3
  About Us
%p
  = link_to "Ruby on Rails Tutorial", "http://ruby.railstutorial.org/"
  is a project to make a book and a screencast to teach web development with
  = link_to "Ruby on Rails", "http://rubyonrails.org"
  \. This is the sample application for the tutorial.
