- provide(:title, 'About Us')
%h3
  About Us
%p
  %a{ href: "http://ruby.railstutorial.org/" }
    Ruby on Rails Tutorial
  is a project to make a book and a screencast to teach web development with
  %a{ href: "http://rubyonrails.org" }
    Ruby on Rails
  \. This is the sample application for the tutorial.
