- provide(:title, 'Help')
%h3
  Help
%p
  Get help on the Ruby on Rails Tutorial at
  = link_to "Rails Tutorial help page", "http://ruby.railstutorial.org/help"
  \.
  %br
  To get help on this ample sap, see the
  = link_to "Rails Tutorial book", "http://ruby.railstutorial.org/book-on-rails-tutorial-book?version=3.2"
  \.
