- provide(:title, 'Help')
%h3
  Help
%p
  Get help on the Ruby on Rails Tutorial at
  %a{href: "http://ruby.railstutorial.org/help"}
    Rails Tutorial help page
  \.
  %br
  To get help on this ample sap, see the
  %a{href: "http://ruby.railstutorial.org/book-on-rails-tutorial-book?version=3.2"}
    Rails Tutorial book
  \.
