<% provide(:title, 'Help') %>
<h3>Help</h3>
<p>
  Get help on the Ruby on Rails Tutorial at <a href="http://railstutorial.org/help">Rails Tutorial help page</a>.
  <br />
  To get help on this ample sap, see the <a href="http://railstutorial.org/book">Rails Tutorial book</a>.
</p>
