- provide(:title, 'Home')
%h3
  Sample App
%p
  This is the home page for the
  = link_to "Ruby on Rails Tutorial", "http://ruby.railstutorial.org/"
  sample application.

= link_to "Sign Up", '#', class: "signup_button round"
